# Python cache
__pycache__/
*.py[cod]
*$py.class

# Matplotlib cache
.matplotlib_cache/

# Virtual environments
.venv/
venv/
env/

# OS files
.DS_Store
Thumbs.db
desktop.ini

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# Temporary files
*.tmp
*.bak

# Project generated artifacts
data/
model/
experiments/
